.wrapper {
    padding: 6px 0 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.wrapper img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin: 0 10px;
}
.wrapper a {
    text-decoration: none;
    cursor: pointer;
    font-size: 12.5px;
    line-height: 15px;
    color: rgb(42, 88, 133);
}
.wrapper a:hover {
    text-decoration: underline;
}