.icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.temp {
    cursor: pointer;
    color: rgb(153, 153, 153);
    font-size: 15px;
    line-height: 18px;
    margin-left: 4px;
}
.temp:hover {
    text-decoration: underline;
}