.wrapper {
    padding: 6px 10px 8px;
    border-radius: 4px;
    background: #fff;
    font-size: 13px;
    max-width: 230px;
}
.headerLabel {
    color: #000;
}
.friendsCount {
    color: #939393;
}