.wrapper {
    padding: 6px 10px 8px;
    border-radius: 4px;
    background: #fff;
    font-size: 13px;
    /* max-width: 230px; */
}
.header {
    line-height: 30px;
}
.headerLabel {
    color: #000;
}
.friendsCount {
    color: #939393;
    margin-left: 6px;
}
.allFriends{
    display: grid;
    grid-template-columns: repeat(auto-fill, 70px);
    grid-gap: 0;
    justify-content: space-between;
}